<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Genres management</title>
</head>
<body>

<h1>GENRES</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
    </tr>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}"></td>
        <td th:text="${genre.name}"></td>
    </tr>
</table>
<br>
<form th:action="@{/admin/genres}" th:object="${genre}" method="post">
    <label>Name: </label>
    <input type="text" th:field="*{name}">
    <input type="submit" value="Create new genre">
</form>

</body>
</html>