<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>DEVELOPERS</title>
</head>
<body>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>COUNTRY</th>
        </tr>
        <tr th:each="developer : ${developers}">
            <td th:text="${developer.id}"></td>
            <td th:text="${developer.name}"></td>
            <td th:text="${developer.country}"></td>
        </tr>
    </table>
    <br>
    <form th:action="@{/admin/developers}" th:object="${developer}" method="post">
        <label>Name: </label>
        <input type="text" th:field="*{name}">
        <br><br>
        <label>Country: </label>
        <input type="text" th:field="*{country}">
        <br><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>