<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit info</title>
</head>
<body>
    <div>
        <form th:action="@{/info/edit}" th:object="${user}" method="post">
            <div>
                <p>Login: <label>
                    <input type="text" th:field="*{login}" disabled>
                </label></p>
                <p>Email: <label>
                    <input type="email" th:field="*{email}">
                </label></p>
            </div>

            <div th:object="${userDetails}">
                <p>Name: <label>
                    <input type="text" th:field="*{name}">
                </label></p>
                <p>Surname: <label>
                    <input type="text" th:field="*{surname}">
                </label></p>
                <p>Age: <label>
                    <input type="number" th:field="*{age}">
                </label></p>
            </div>

            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>