<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>

<h1>Games</h1>

<form th:action="@{/games}" method="get">
    <select id="genre" name="genre">
        <option value="">Select genre</option>
        <option th:each="genre : ${genres}"
                th:value="${genre.name}"
                th:text="${genre.name}"></option>
    </select>
    <input type="submit" value="Search">
</form>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="game : ${games}" th:if="${game.available.name() == 'AVAILABLE'}">
        <td>
            <a th:href="@{/games/{id}(id=${game.id})}" th:text="*{game.name}"></a>
        </td>
        <td>
            <label th:text="*{game.price}"></label> $
        </td>
    </tr>
</table>


<div>
    <form th:action="@{/}">
        <input type="submit" value="Back">
    </form>
</div>

</body>
</html>