<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Game info</title>
</head>
<body>

<div>
    <h1><span th:text="*{game.name}"></span></h1>
    <p><b>Release date:</b> <span th:text="*{game.release}"></span></p>

    <p><b>Developer:</b> <span th:text="*{game.developer.name}"></span></p>

    <p><b>Publisher:</b> <span th:text="*{game.publisher.name}"></span></p>

    <p>
        <b>Genre:</b>
        <span th:each="genre, iterStat : ${gameGenres}"
              th:text="${genre.name} + ${!iterStat.last ? ', ' : ''}"></span>
    </p>

    <p>
        <b>Platforms:</b>
        <span th:each="platform, iterStat : ${gamePlatforms}"
              th:text="${platform.name} + ${!iterStat.last ? ', ' : ''}"></span>
    </p>
    <p><b>Description:</b> <span th:text="*{game.description}"></span></p>
    <p>
        <b>System requirements:</b>
        <ul>
            <li>Processor: <span th:text="${sys.processor}"></span></li>
            <li>Video card: <span th:text="${sys.videocard}"></span></li>
            <li>Disk space: <span th:text="${sys.diskSize}"></span> GB</li>
            <li>RAM size: <span th:text="${sys.ramSize}"></span> GB</li>
        </ul>
    </p>
    <p><b>Price:</b> <label><span th:text="*{game.price}"></span> $</label></p>

    <form th:if="${isBought == false}" th:action="@{/games/{id}(id=${game.id})}" method="post">
        <input th:if="${game.available.name() == 'AVAILABLE'}" type="submit" value="Buy">
        <h3 th:if="${game.available.name() == 'ARCHIVE'}">
            This game is not available for purchase because it has been archived
        </h3>
    </form>
    <br>
    <h3 th:if="${isBought == true}">You already bought this game</h3>
    <form th:action="@{/games}">
        <input type="submit" value="Back">
    </form>
</div>

</body>
</html>