<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>GAMEGURU</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="header">
    <div th:insert="blocks/navbar"></div>
</header>
<main>
    <section class="d-flex justify-content-center align-items-center"
             style="background-image: url('/images/index-bg.jpg');
                background-repeat: no-repeat;
                 background-size: cover;
                 background-position: top;
                 min-height: 600px;">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center text-light center">
                    <h1><b>GAMES AT THE BEST PRICES</b></h1>
                    <p>
                        Looking for where you can buy a new product at a low price?
                        On GameGuru, games that have just been released are sold cheaper than in the developer's stores!
                    </p>
                    <button type="button" class="btn btn-outline-light button-margin"
                            onClick="document.getElementById('content').scrollIntoView();">Go to store</button>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5" id="content">
        <div class="text-center fs-4 fw-bold">
            <p>Catalog</p>
        </div>

        <div class="container py-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col" th:each="game : ${games}" th:if="${game.available.name() == 'AVAILABLE'}">
                    <div class="card shadow bg-light rounded">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/images/detroit.jpg" class="img-fluid rounded"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>

                        <div class="card-body">
                            <p><span class="badge bg-primary me-1"
                                     th:each="platform : ${game.platforms}"
                                     th:text="${platform.name}">Platform</span>
                            </p>
                            <h5 class="card-title">
                                <a class="text-decoration-none text-body"
                                   th:href="@{/{id}(id=${game.id})}"
                                   th:text="${game.name}">Game name</a>
                            </h5>
                            <p class="card-text">
                                <span th:text="${game.price}"></span> $
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="container" th:insert="blocks/footer"></div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>